.container div {
    background: rgb(19, 19, 19) ;
    height: 100px;
    color: rgb(238, 21, 21);
    font-size: 30px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
   }
   @media screen and (min-width: 1200px) {
    body {
    background-color: rgb(56, 53, 53);
    }
    }
   @media screen and (min-width: 768px) and (max-width:
    1199px) {
     body {
     background-color: rgb(178, 5, 19);
     }
     }
   @media screen and (max-width: 767px) {
        body {
        background-color: gray;
        }
        }